<%= form_for([@album, @album.photos.build] , :html => { :multipart => true }) do |f| %>
  <div class="field">
     
     <%= f.file_field :image_url %>
  </div>
  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>
